<!-- layout/admin_lte_test -->
<!DOCTYPE html>
<html>
  <head>
    <%= render partial: "layouts/head_item" %>
    <%= stylesheet_link_tag    'AdminLTE', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= yield :style %>
    <%= javascript_include_tag 'AdminLTE', 'data-turbolinks-track': 'reload' %>
    <%= yield :script %>
    <script>
      // Resolve conflict in jQuery UI tooltip with Bootstrap tooltip
      $.widget.bridge('uibutton', $.ui.button);
    </script>
  </head>
  <body class="hold-transition skin-blue sidebar-mini">
    <%= yield %>
    <p class="notice">
      <%= notice %>
    </p>
    <p class="alert">
      <%= alert %>
    </p>
  </body>
</html>
